body {
  background:
    url(http://www.sunnyneo.com/userlookups/UL_acezafara_fixed.png) fixed bottom center no-repeat,
    url(http://www.sunnyneo.com/userlookups/UL_acezafara_bg.jpg) repeat;
  background-color: white;
}
 /* The background image */
    background-image: url("http://www.sunnyneo.com/userlookups/UL_acezafara_fixed.png");
    /* Set a specified height, or the minimum height for the background image */
    min-height: 500px;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;

{
background: #222f57 url("http://www.sunnyneo.com/userlookups/UL_acezafara_bg.jpg") 0px 658px fixed;
}
#zaffy {
    position: fixed !important;
    left: 563px;
    bottom: 0px;
    z-index: 100;
    background: url("http://www.sunnyneo.com/userlookups/UL_acezafara_fixed.png");
    width: 477px;
    height: 602px;
}

p, li {
    font-size: 30px;
    text-align: center;
    color: white;
}
img {
    width: 20%;
}
h1 {
    font-size: 50px;
    text-align: center;
    color: white;
}

h3 {
    font-size: 50px;
    text-align: center;
}
p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    text-align: center;
    color: white;
}
div.container {
    border: 1px solid red;
    margin-left: 100px;
}

p.one {
    margin-left: inherit;
}


/*footer*/

#footer {
    position: fixed;
    z-index: -3;
    bottom: 0;
    width: 100%;

}

.container2 {
    margin: 300px 100px 30px 100px;
    background-color: rgba(255, 255, 255, 0.38);
    border: none;
    border-radius: 25px;
    filter: alpha(opacity=60);  /*For IE8 and earlier */
    opacity: 0;
  }

  .toggle{

    opacity: 1;
    webkit-transition: opacity 1s;
    transition: opacity 1s;

  }



/*img {
    position:center fixed;
    opacity: 0.8;
    background-size: 1600px auto;
   filter: alpha(opacity=50);
   width: 50%;
}*/


#content {
    background: #D0E5FF;
    padding: 20px;
    color: #00214B;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.8;
    z-index: 5;
}
#footer {
    background: #0070FF;
     z-index: 0;
    line-height: 2, fixed;
    text-align: center;
    color: #042E64;
    fillopacity: 0.2 
       opacity: 0.9;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 0 #84BAFF;
    box-shadow: 0 0 15px #00214B;
}


/*Comments box*/

#respond {
  margin-top: 40px;
}

#respond input[type='text'],
#respond input[type='email'], 
#respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em;
}